@import '../../scss/index.scss';

.profile {
    margin-top: 7rem;

    width: 100%;
    height: 95%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-row: auto;
    box-shadow: 0px 0px 6px 0px rgba(62, 0, 103, 0.5);
    @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
        margin-top: 12rem;
        
    }
    &_imagen {
        display: flex;
        grid-column: 1 / 2;
        justify-content: center;
        @media (max-width: 991px) {
            margin-bottom: 2rem;
            
        }
        
        .ui.image.avatar {
            width: 170px;
            height: 170px;
            z-index: -1;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.seguidores-seguidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    
    .other {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: normal;
        .description {
            color: $font-link;
            font-size: 16px;
            margin-top: 5px;
            
        }
    }
}