@import '../../scss/index.scss';

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &_encabezado {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }

    &_meditaciones {
        padding: 1rem;
    }
    
    h2 {
        margin-top: 30px;
        font-size: 3rem;
        color: $border-bottom-purple;
    }
}

.ui.button.btn-new {
    background-color: $border-bottom-purple !important;
    color: $font-light !important;
    border-color: $border-header-purple !important;
    &:hover {
        opacity: 95%;
    }
}