@import '../../../scss/index.scss';

.followers {
    display: flex;
    p {
        margin-right: 4rem;
        font-size: 16px;
        color: $font-link;
        font-weight: normal;
        &:last-of-type{
            margin: 0;
        }
        
        &.link:hover {
            cursor: pointer;
            font-weight: bold;
            color: $font-link;
        }
        span {
            font-weight: bold;
        }
    }
}
