$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;
$font-link: #92229D;

$background-light: #fff;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: #000;
$border-bottom-purple: #6A1173;
$border-header-purple: #E273EE;
$border-fav: #B9CB45;

$action: #0095f6;
$danger: #ed4956;